YUE2PINYIN_WORDS_PATH=assests/rime-cantonese/jyut6ping3.words.dict.csv
YUE2PINYIN_CHARACTERS_PATH=assests/words-hk/charlist.json
YUE2PINYIN_CACHE_PATH=./jyutping.dat
YUE2PINYIN_FLASHCARD_DB_PATH=./words.sqlite3
YUE2PINYIN_CORS_ORIGINS=
YUE2PINYIN_PORT=8000
